@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#cabecalho{
    background-color: rgb(202, 52, 52);
}
#nave{
    background-color: rgb(175, 25, 25);
}

#sombra{
    filter: drop-shadow(10px 10px 10px #000000);
}

.bg-Cinzaclaro{
    background-color: rgba(rgba(216, 134, 27, 0.418));
}

*{
    font-family: 'Satisfy', cursive;
    font-weight: 700;
}
#tamanhol{
    font-size: 120px;
}
@keyframes animacao {
    from {
        filter: hue-rotate(0deg)}
        to {filter: hue-rotate(360deg)}
    
}
.animacao{
    animation: animacao 2s linear infinite;
}
#tamanhonave{
    font-size: 27px;
}